
.App {
  min-height: 100vh;
  text-align: center;
  background-color:rgba(255,255,255,0)
}

.home{
  z-index:50;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fa, .far, .fas, .fab {   font-family: FontAwesome !important; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper{
 width:100%;
 float: center;
 margin-right: auto;
 margin-left: auto;
}

.content {
  width:90%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(.5px .5px 2px rgba(255,255,255,.646));
}

.section{
  height:auto;
  margin-left:auto;
  margin-right: auto;
  width: 100%;
}

.col2{
  width:100%;
  min-height:auto;
}

.col1{
  width: 100%;
}

.carousel-img{
  min-height:100vh;
  width:auto;
  /* display:none; */
}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .content {min-width:80%; float:middle; }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .col1{
      float:left;
      text-align:left;
      width:70%
    }
  
    .col2{
        min-height: 0vh;
        text-align:right;
        width:30%;
    }
    .carousel-img{
      max-height:100vh;
      width:100%;
      /* display:none; */
  }
}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

