.myrow{
    /* background-color:rgba(0,0,0,0.5); */
    margin-top: 10vh;
    width:100%;
    background-size: cover;
    background-image: url("../assets/background.jpg");
    min-height:100vh;
}

.jumbotron{
    min-height:100%;
}

.jumbotron h1{
    font-size:5vw;
}

/* 
.desc{
    max-height:
} */