#promo{
    background-color:white;
}

.promo-text-row{
    height:auto;
}

.promo-img{
    max-width: 150;
}

.owl-carousel{
    min-height: 100%;
}
.owl-carousel .owl-stage-outer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	min-height:100%;
}